<!DOCTYPE html>
<html>

<head>
  <base href="/">
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <!-- Legal information -->
  <title>Angular 2 - TODO MVC</title>
  <meta name="author" content="Jérémy PANETTO">
  <meta name="description" content="TODO MVC in AngularJS 2.0">
  <meta name="google-site-verification" content="">
  <meta name="copyright" content="Jérémy PANETTO">
  <!-- Hiding Safari User Interface Components -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <!-- Changing the Status Bar Appearance -->
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <!-- Disables automatic detection of possible phone numbers -->
  <meta name="format-detection" content="telephone=no">
  <!-- Content optimized for mobile -->
  <meta name="HandheldFriendly" content="true">
  <!-- Disable compatibility mode IE -->
  <!--[if IE]>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <![endif]-->
  <!-- Language -->
  <meta http-equiv="content-language" content="en">

  <link rel="shortcut icon" sizes="16x16" href="../favicon.ico" />

  <!-- CSS -->
  <script type="text/javascript" src="../inline.js"></script>
  <script type="text/javascript" src="../styles.bundle.js"></script>

</head>

<body>
<div class="container">
  <div class="page-header">
    <h1>TODO MVC in AngularJS 2.0</h1>
  </div>
  <div *ngIf="hasTechnicalError" class="alert alert-danger">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span class="sr-only">Error:</span>
    An error occurred during update process
  </div>
  <div class="alert alert-info" *ngIf="infoMessage">
    <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
    <span class="sr-only">Info:</span>
    TODO with `done` status can't be edited
  </div>
  <div class="alert alert-success">
    <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
    <span class="sr-only">Success:</span>
    TODO successfully updated in the DB
  </div>

  <div>
    <form id="todoForm">
      <div class="form-group">
        <label for="label">Label</label>
        <input id="label" placeholder="TODO Label" type="text" class="form-control ng-valid" required value="Go shopping">
        <!--<div class="alert alert-danger">
            Label is required
        </div>-->
      </div>
      <div class="form-group">
        <label for="status">Status</label>
        <select id="status" class="form-control ng-valid" required>
          <option value="todo">TODO</option>
          <option value="in_progress">In progress</option>
          <option value="done">Done</option>
        </select>
      </div>
      <div class="bloc-actions">
        <div class="separator">&nbsp;</div>
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-right no-pdr">
            <button type='button' (click)="goBack()" class="btn btn-default action-button-back">
              <span class="glyphicon glyphicon-list" aria-hidden="true"></span> Back
            </button>
            <button type='button' (click)="edit(todo)" class="btn btn-default action-button-edit">
              <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit
            </button>
          </div>
        </div>
      </div>
    </form>



    <div *ngIf="isSubmitted">
      <div class="row">
        <div class="col-xs-2 col-sm-4 col-md-4 col-lg-4 text-right status-icon in_progress-title">
          <span class="glyphicon glyphicon-hourglass" aria-hidden="true"></span>
        </div>
        <div class="col-xs-8 col-sm-4 col-md-4 col-lg-4 text-center in_progress-title">
          <h2>In progress</h2>
        </div>
        <div class="col-xs-2 col-sm-4 col-md-4 col-lg-4 text-left status-icon in_progress-title">
          <span class="glyphicon glyphicon-hourglass" aria-hidden="true"></span>
        </div>
      </div>
      <div class="row item in_progress">
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 in_progress-label">
          TODO Updated
        </div>
      </div>
      <div class="bloc-actions">
        <div class="separator">&nbsp;</div>
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-right no-pdr">
            <button type='button' (click)="goBack()" class="btn btn-default action-button-back">
              <span class="glyphicon glyphicon-list" aria-hidden="true"></span> Back
            </button>
            <button type='button' (click)="retry(todo)" class="btn btn-default action-button-retry">
              <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span> Retry
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bloc-actions">
    <div class="separator">&nbsp;</div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-right no-pdr">
        <button type='button' (click)="goBack()" class="btn btn-default action-button-back">
          <span class="glyphicon glyphicon-list" aria-hidden="true"></span> Back
        </button>
      </div>
    </div>
  </div>
</div>
</body>

</html>
