<!DOCTYPE html>
<html>

<head>
  <base href="/">
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <!-- Legal information -->
  <title>Angular 2 - TODO MVC</title>
  <meta name="author" content="Jérémy PANETTO">
  <meta name="description" content="TODO MVC in AngularJS 2.0">
  <meta name="google-site-verification" content="">
  <meta name="copyright" content="Jérémy PANETTO">
  <!-- Hiding Safari User Interface Components -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <!-- Changing the Status Bar Appearance -->
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <!-- Disables automatic detection of possible phone numbers -->
  <meta name="format-detection" content="telephone=no">
  <!-- Content optimized for mobile -->
  <meta name="HandheldFriendly" content="true">
  <!-- Disable compatibility mode IE -->
  <!--[if IE]>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <![endif]-->
  <!-- Language -->
  <meta http-equiv="content-language" content="en">

  <link rel="shortcut icon" sizes="16x16" href="../favicon.ico" />

  <!-- CSS -->
  <script type="text/javascript" src="../inline.js"></script>
  <script type="text/javascript" src="../styles.bundle.js"></script>

</head>

<body>
<div class="container">
  <div class="page-header">
    <h1>TODO MVC in AngularJS 2.0</h1>
  </div>
  <div *ngIf="hasTechnicalError" class="alert alert-danger">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span class="sr-only">Error:</span>
    An error occurred during retrieve list process
  </div>
  <div *ngIf="todos.length === 0" class="alert alert-info">
    <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
    <span class="sr-only">Info:</span>
    You don't have any TODO - Add new one to display it
  </div>


  <!-- todo Part of Status : TODO -->
  <div>
    <!-- label of TODO -->
    <div *ngIf="hasTodo" class="row">
      <div class="col-xs-2 col-sm-4 col-md-4 col-lg-4 text-right status-icon todo-title">
        <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
      </div>
      <div class="col-xs-8 col-sm-4 col-md-4 col-lg-4 text-center todo-title">
        <h2>TODO</h2>
      </div>
      <div class="col-xs-2 col-sm-4 col-md-4 col-lg-4 text-left status-icon todo-title">
        <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
      </div>
    </div>

    <!-- list of TODOs of Status : TODO -->
    <div *ngFor="let todo of todos">
      <div *ngIf="todo.status.identifier === 'todo'">
        <div class="row item todo">
          <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 todo-label">
            {{todo.label}}
          </div>
          <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 text-right">
            <button (click)="editTodo(todo.id)" class="btn btn-default todo-action-button">
              <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit
            </button>
            <button (click)=delete(todo.id) class="btn btn-default todo-action-button">
              <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete
            </button>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="hasTodo" class="separator">&nbsp;</div>
  </div>


  <!-- todo Part of Status : IN PROGRESS -->
  <div>
    <!-- label of In Progress -->
    <div *ngIf="hasInProgress" class="row">
      <div class="col-xs-2 col-sm-4 col-md-4 col-lg-4 text-right status-icon in_progress-title">
        <span class="glyphicon glyphicon-hourglass" aria-hidden="true"></span>
      </div>
      <div class="col-xs-8 col-sm-4 col-md-4 col-lg-4 text-center in_progress-title">
        <h2>In progress</h2>
      </div>
      <div class="col-xs-2 col-sm-4 col-md-4 col-lg-4 text-left status-icon in_progress-title">
        <span class="glyphicon glyphicon-hourglass" aria-hidden="true"></span>
      </div>
    </div>

    <!-- list of TODOs of Status : In Progress -->
    <div *ngFor="let todo of todos">
      <div *ngIf="todo.status.identifier === 'in_progress'">
        <div class="row item in_progress">
          <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 in_progress-label">
            {{todo.label}}
          </div>
          <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 text-right">
            <button (click)="editTodo(todo.id)" class="btn btn-default in_progress-action-button">
              <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit
            </button>
            <button (click)=delete(todo.id) class="btn btn-default in_progress-action-button">
              <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete
            </button>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="hasInProgress" class="separator">&nbsp;</div>
  </div>

  <!-- todo Part of Status : DONE -->
  <div>
    <!-- label of Done -->
    <div *ngIf="hasDone" class="row">
      <div class="col-xs-2 col-sm-4 col-md-4 col-lg-4 text-right status-icon done-title">
        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
      </div>
      <div class="col-xs-8 col-sm-4 col-md-4 col-lg-4 text-center done-title">
        <h2>Done</h2>
      </div>
      <div class="col-xs-2 col-sm-4 col-md-4 col-lg-4 text-left status-icon done-title">
        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
      </div>
    </div>

    <!-- list of TODOs of Status : Done -->
    <div *ngFor="let todo of todos">
      <div *ngIf="todo.status.identifier === 'done'">
        <div class="row item done">
          <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 done-label">
            {{todo.label}}
          </div>
          <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 text-right">
            <button (click)=delete(todo.id) class="btn btn-default done-action-button">
              <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Button add new TODO -->
  <div class="bloc-actions">
    <div class="separator">&nbsp;</div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-right no-pdr">
        <button (click)="createTodo()" class="btn btn-default action-button">
          <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Add new TODO
        </button>
      </div>
    </div>
  </div>
</div>
</body>

</html>
